@page "/"
@rendermode InteractiveServer
@using DOKUSHArp.Web.Components.Store
@using DOKUSHArp.Web.Components.Store.Manga
@using Microsoft.Extensions.Options
@inject IOptions<EngineOptions> EngineOptions
@inject NavigationManager Navigator
@inject State<MangaState> MangaState
@inherits StatefulComponent

<PageTitle>DOKUSHArp</PageTitle>
<MangaLoader />

<div>
	@foreach(var (id, mangaMeta) in MangaState.Value.AvailableManga)
	{
		<div @onclick="@(() => Navigator.NavigateTo($"/manga/{id}"))">
			<img src="@(EngineOptions.Value.EngineBasePath)/cover/@id" />
			<p> @mangaMeta.Title -- @id -- (@mangaMeta.NumCoverPages)</p>
		</div>
	}
</div>