@page "/"
@rendermode InteractiveServer
@using DOKUSHArp.Web.Components.Store
@using DOKUSHArp.Web.Components.Store.Manga
@using Microsoft.Extensions.Options
@inject IOptions<EngineOptions> EngineOptions
@inject NavigationManager Navigator
@inject State<MangaState> MangaState
@inject MangaService MangaService
@inherits StatefulComponent

<PageTitle>DOKUSHArp</PageTitle>
<MangaLoader />

<div>
	<InputFile OnChange="UploadEpubAsync" />
</div>
<div>
	@foreach(var (id, mangaMeta) in MangaState.Value.AvailableManga)
	{
		<div @onclick="@(() => Navigator.NavigateTo($"/manga/{id}/page/0"))">
			<img src="@(EngineOptions.Value.EngineBasePath)/cover/@id" />
			<p> @mangaMeta.Title -- @id -- (@mangaMeta.NumCoverPages)</p>
		</div>
	}
</div>

@code{
	private async Task UploadEpubAsync(InputFileChangeEventArgs args)
	{
		if (!string.Equals(args.File.ContentType, "application/epub+zip", StringComparison.OrdinalIgnoreCase)) return;

		using var memoryStream = new MemoryStream();
		using var sourceStream = args.File.OpenReadStream(209715200);

		await sourceStream.CopyToAsync(memoryStream).ConfigureAwait(false);

		memoryStream.Position = 0;

		await MangaService.UploadManga(memoryStream, args.File.Name, 1).ConfigureAwait(false);
	}
}